body {
  margin: 0;
  font-family: "Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap",cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg,#bdb9e2 20%,#2B86C5 100%);
  /*background: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

button{
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");